<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Last.fm taste overlap</title>
  </head>
  <body>
    <div class="container-sm mt-5">
      
      <h1>Last.fm taste overlap</h1>
      <h6>Inspired by Jake Ledoux's <a href="https://jakeledoux.com/lastfm/" class="text-decoration-none">Last.fm Cross-reference Tool</a></h6>
      <form action="" method="post">
        <div class="form-group row g-2 mt-2">
          <div class="col-sm-3">
            <input type="text" class="form-control" name="user1" value="<%= typeof user1 != 'undefined' ? user1 : "" %>" placeholder="First username">
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="user2" value="<%= typeof user2 != 'undefined' ? user2 : "" %>" placeholder="Second username">
          </div>
          <div class="col-auto">
            <select class="form-select" name="type">
              <option value="artist">Favorite artists</option>
              <option value="album">Favorite albums</option>
              <option value="track">Favorite tracks</option>
            </select>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">Check</button>
          </div>
        </div>
      </form>
      <% if (typeof error != 'undefined') { %>
        <div class="alert alert-danger mt-5">
          <%= error %>
        </div>
      <% } %>
      <% if (typeof results != 'undefined' && results.length > 0) { %>
        <table class="table mt-5">
          <thead>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Combined playcount</th>
            <th scope="col">Lowest rank</th>
          </thead>
          <tbody>
          <% for (let i = 0; i < results.length; ++i) { %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= results[i].name %></td>
              <td><%= results[i].playcount %></td>
              <td><%= results[i].maxrank %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      <% } %>
      <% if (typeof results != 'undefined' && results.length === 0) { %>
        <h1 class="mt-5">No overlap :(</h1>
      <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
